body{
    background:#19141f;
}
#giphy-container{
    width:75%;
    margin:25px auto;
}
#button-container{
    width:100%;
    padding:5px 0px;
}
.topic-button{
    width:24%;
    height:45px;
    margin:5px;
    padding:0px;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    border:2px solid #ac4a1d;
    background: #ac4a1d;
    color:#fff;
    transition:0.3s
}

.topic-button:hover{
    background:transparent;
    border:2px solid #ac4a1d;
    font-size:14px;
    letter-spacing: 0.09em;
}
#gif-search{
    width:90%;
    height:30px;
    border-radius:5px;
    border:none;
    font-size:16px;
    padding:5px;
    margin:5px;
}
#submit{
    width:8%;
    height:40px;
    color:#fff;
    border:none;
    background:#1d3eac;
}
#gif-container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}

.gif-wrapper{
    width:19%;
    margin:5px;
    height:auto;
    min-height:100px;
    
}
.gif-wrapper p {
    width:100%;
    padding:5px 0px;
    background:#1d3eac;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-align:center;
    margin:-2px 0px 0px;
}
.gif-image{
    width:100%;
    margin:0px;
}


@media only screen and (max-width: 1200px) {
    #giphy-container{
        width:80%;
    }
    .topic-button{
        width:48%;
        height:40px;
        margin:5px 1%;
    }
    #gif-search{
        width:98%;
        margin:5px 1%;
        padding:0px;
    }
    #submit{
        width:20%;
        margin:5px 40%;

    }
    #gif-container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

    .gif-wrapper{
        width:31%;
        margin:5px 5px;

    }
}

@media only screen and (max-width: 600px) {
    #giphy-container{
        width:100%;
    }
    .topic-button{
        width:96%;
        height:40px;
        margin:5px 2%;
    }
    #gif-search{
        width:96%;
        margin:5px 2%;
        padding:0px;
    }
    #submit{
        width:96%;
        margin:5px 2%;

    }
    .gif-wrapper{
        width:48%;
        margin:5px 1%;

    }
}